---
layout: default
---

<!-- about.html -->
      <div class="text-center mt-5">
        <img class="profile-img" src="/assets/img/prof_pic.jpg" />
      </div>
      <div class="col mt-4">
        <h1 class="title text-center font-weight-bold">Maria Despoina Siampou</h1>
        <div class="row mt-3 mb-3">
          <div class="col-sm-6">
            <h6 class="mt-1 text-left text-sm-right" style="font-stretch: ultra-condensed;">
              <a style="color: rgb(60, 72, 88);" href="http://www.ml.cmu.edu/" target="_blank">Principal Researcher</a><br />
              <a style="color: rgb(60, 72, 88);" href="http://www.cs.cmu.edu/" target="_blank">Semantic Machines</a><br />
              <a style="color: rgb(60, 72, 88);" href="http://www.cmu.edu/" target="_blank">Microsoft</a>
            </h6>
          </div>
          <div class="col-sm-6">
            <h6 class="mt-1 text-left text-sm-left" style="font-stretch: ultra-condensed;">
              Berkeley Way West, Floor 7<br />
              1919 Shattuck Ave<br />
              Berkeley, CA, 94704
            </h6>
          </div>
        </div>
      </div>
      <!-- <div class="post">
        <article>
          {% if page.profile -%}
          <div class="profile">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            <header class="post-header">
              <h1 class="post-title">
               {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
              </h1>
              <p class="desc">{{ page.subtitle }}</p>
            </header>
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %} -->

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
